.Favourite {
  padding: 15px 20px;
  position: relative;
  background-color: white;
  margin: 10px;
  height: 52px;
  box-sizing: border-box;
}

.Favourite > .remove {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: white;
  background-color: red;
  font-weight: bold;
}
