.NavBar {
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.NavBar > .logo {
  display: inline-block;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.NavBar > .logo > .fa-fort-awesome {
  color: #774872;
  margin-right: 0.5rem;
}

.NavBar > .nav {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 2rem;
}

.NavBar > .nav > .item {
  display: inline-block;
  padding: 1rem;
  margin: 0;
  cursor: pointer;
}

.NavBar > .nav > .item:hover {
  background-color: #eee;
}

.fblogin {
  float: right;
  height: 54px;
  overflow: hidden;
}

.fblogin > button {
  background-color: #4c69ba;
  color: white;
  height: 54px;
  border-radius: 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
  font-size: inherit;
  font-family: Helvetica,sans-serif;
  cursor: pointer;
  border: 0;
}
